* {
    box-sizing: border-box;
}

.book-list {
    list-style-type: none;
    position: relative;
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.book-list li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.238)
}

.book-list img {
    max-height: 170px;
}

.book-actions.remove-btn {
    position: absolute;
}

.book-actions.show-details-btn {
    position: absolute;
}